<!-- SIDEBAR -->
{% load static %}
<aside>
    <div class="top">
        <div class="logo">
            <h2>MA<span class="danger">BLE</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="{% url 'home' %}">
            <span class="material-icons-sharp">grid_view</span>
            <h3>Dashboard</h3>
        </a>
        <a href="{% url 'analytics' %}">
            <span class="material-icons-sharp">insights</span>
            <h3>Analytics</h3>
        </a>
        {% if user.account_type == 'admin' or user.account_type == 'project_manager' %}
        <a href="{% url 'manage-users' %}">
            <span class="material-icons-sharp">person_outline</span>
            <h3>Manage Users</h3>
        </a>
        {% endif %}
        <a href="{% url 'project-home' %}">
            <span class="material-icons-sharp">receipt_long</span>
            <h3>Projects</h3>
        </a>
        <a href="{% url 'ticket-home' %}">
            <span class="material-icons-sharp">view_compact_alt</span>
            <h3>Tickets</h3>
        </a>
        <!-- <a href="">
            <span class="material-icons-sharp">mail_outline</span>
            <h3>Messages</h3>
            <span class="message-count">26</span>
        </a> -->
        <a href="{% url 'profile' %}">
            <span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="{% url 'logout' %}">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>
<!-- SIDEBAR -->